form{
    width: 20rem;
    margin: auto;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    background: #302e2e0a;
    -webkit-box-shadow: 4px 8px 19px 3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px 3px rgba(0,0,0,0.27);
}
.input-group {
    position: relative;
    margin-top: 1.1rem;
}
.input {
    border: solid 1.5px #9e9e9e;
    background: none;
    padding: .5rem;
    font-size: 1rem;
    margin-top: .5rem;
    width: 100%;
    color: #302e2e;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
    position: absolute;
    left: 15px;
    top: 0;
    color: #07060675;
    pointer-events: none;
    transform: translateY(15.5px);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    background: #F7F7F7;
}
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #212121;
}
.input:focus ~ label, input:valid ~ label {
    transform: translateY(-10%);
    padding: 0;
    color: #212121;
}
button {
    padding: 12px 20px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    cursor: pointer;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 1.5rem;
    margin: auto;
}
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
button:hover {
    color: #e8e8e8;
}
button:hover::before {
    width: 100%;
}
.disable{
    opacity: .7;
}
.errorInput{
    border: solid 1.5px red;
}
.d-none{
    display: none;
}
.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"] {
    height: 1.5em;
    width: 1.3rem;
    margin: 5px;
    appearance: none;
    position: relative;
    background-color: transparent;
    border-radius: 15%;
    cursor: pointer;
}
input[type="checkbox"]::after {
    content: '';
    display: block;
    height: 0.5rem;
    width: .2rem;
    border-bottom: .31rem solid #F8F2EA;
    border-right: .31rem solid #F8F2EA;
    opacity: 0;
    top: 45%;
    left: 15%;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    transition: .25s ease;
}
input[type="checkbox"]::before {
    content: '';
    display: block;
    height: 105%;
    width: 110%;
    background-color: #212121;
    opacity: 1;
    position: absolute;
    top: -.03rem;
    left: -.03rem;
    border-radius: 10%;
    transition: .3s ease;
}
input[type="checkbox"]:checked::after {
    opacity: 100%;
}
.chbx{
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    padding-bottom: 1rem;
}
.chbx .text{
    font-size: 1rem;
    padding-left: .3rem;
    font-weight: 500;
    color: #212121;
}