<header>
    <div class="navbar bg-primary shadow-sm">
        <a href="#">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 33px;padding: .5rem;color: white;" class="fa-solid fa-car-side"></i>
                <strong style="margin-left: .3rem;letter-spacing: .2rem;font-size: 20px;color: white;margin-top: .7rem;">RentCar</strong>
            </div>
        </a>
        <div class="form-group">
            <input type="text" placeholder="search car" class="form-control">
            <span class="fas fa-search search-icon"></span>
        </div>
        <button class="btn btn-primary">
            <i style="font-size: 30px;" class="fa-solid fa-user"></i>
        </button>
    </div>
</header>