<app-nave></app-nave>
<div class="container">
    <form>
        <h2 class="title">Login Form</h2>
        <div class="input-group">
            <input required type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Email</label>
        </div>

        <div class="input-group">
            <input required type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Password</label>
        </div>
        <span class="space"></span>
        <button> Login ! </button>
    </form>
</div>